<%- include('layouts/header'); -%>

    <section class="container text-center">
        <h1>Users DB</h1>

        <% if (dados.length> 0) { %>
            <table class="table table-warning table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <% dados.forEach(dado=> { %>

                        <tr style="vertical-align: middle">
                            <th scope="row">
                                <%= dado._id %>
                            </th>
                            <td>
                                <%= dado.name %>
                            </td>
                            <td>
                                <%= dado.age %>
                            </td>
                            <td>
                                <%= dado.email %>
                            </td>
                            <td>
                                <%= dado.address %>
                            </td>
                            <td>
                                <a href="/users/<%= dado._id %> " class='btn btn-warning'>Update</a>
                                <form action="/users/<%= dado._id %>/delete" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>

                            <% }) %>
                        </tr>
                </tbody>
            </table>
            <% }else{ %>
                <p>No data found</p>
                <a href="/insert" class="btn btn-outline-warning">Insert User</a>
                <% } %>

    </section>


    <%- include('layouts/footer'); -%>